.color-50 {
	-fx-background-color: #ECEFF1;
}

.color-100 {
	-fx-background-color: #CFD8DC;
}

.color-200 {
	-fx-background-color: #B0BEC5;
}

.color-300 {
	-fx-background-color: #90A4AE;
}

.color-400 {
	-fx-background-color: #78909C;
}

.color-500 {
	-fx-background-color: #607D8B;
}

.color-600 {
	-fx-background-color: #546E7A;
}

.color-700 {
	-fx-background-color: #455A64;
}

.color-800 {
	-fx-background-color: #37474F;
}

.color-900 {
	-fx-background-color: #263238;
}

.color-accent {
	-fx-background-color: #FDD835;
}

.color-50 Label,
.color-100 Label,
.color-200 Label,
.color-300 Label {
	-fx-text-fill: #263238;
}

.color-400 Label,
.color-500 Label,
.color-600 Label,
.color-700 Label,
.color-800 Label,
.color-900 Label {
	-fx-text-fill: #fff;
}

.color-50 Button,
.color-100 Button,
.color-200 Button,
.color-300 Button {
	-fx-text-fill: #424242;
}

.color-400 Button,
.color-500 Button,
.color-600 Button,
.color-700 Button,
.color-800 Button,
.color-900 Button {
	-fx-text-fill: #fff;
}

.color-50 SVGPath,
.color-100 SVGPath,
.color-200 SVGPath,
.color-300 SVGPath {
	-fx-fill: #424242;
}

.color-400 SVGPath,
.color-500 SVGPath,
.color-600 SVGPath,
.color-700 SVGPath,
.color-800 SVGPath,
.color-900 SVGPath {
	-fx-fill: #fff;
}

.text-fill-default {
	-fx-text-fill: #fff;
}

.text-fill-inverse {
	-fx-text-fill: #424242;
}

.naviView Button:pressed, 
.checkout-footer Button:pressed {
	-fx-background-color: #263238;
}

.customize-border {
	-fx-border-color: #37474F;
	-fx-border-radius: 2px;
	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent;
}

.customize-combo .combo-box-popup .list-view {
    -fx-background-color: #fff;
    -fx-border-color: #9E9E9E;
    -fx-border-radius: 2px;
}

.customize-combo .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #546E7A;
    -fx-text-fill: #fff;
}

.customize-combo .combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #546E7A;
    -fx-text-fill: #fff;
}

.shadowSolid {
	-fx-effect: dropshadow(two-pass-box, #CFD8DC, 0.7, 3, 2, 2);
}