.color-50 {
	-fx-background-color: #E3F2FD;
}

.color-100 {
	-fx-background-color: #BBDEFB;
}

.color-200 {
	-fx-background-color: #90CAF9;
}

.color-300 {
	-fx-background-color: #64B5F6;
}

.color-400 {
	-fx-background-color: #42A5F5;
}

.color-500 {
	-fx-background-color: #2196F3;
}

.color-600 {
	-fx-background-color: #1E88E5;
}

.color-700 {
	-fx-background-color: #1976D2;
}

.color-800 {
	-fx-background-color: #1565C0;
}

.color-900 {
	-fx-background-color: #0D47A1;
}

.text-color-500 {
	-fx-text-fill: #2196F3;
}

.text-color-600 {
	-fx-text-fill: #1E88E5;
}

.text-color-700 {
	-fx-text-fill: #1976D2;
}

.text-color-800 {
	-fx-text-fill: #1565C0;
}

.text-color-900 {
	-fx-text-fill: #0D47A1;
}

.color-accent {
	-fx-background-color: #FDD835;
}

.color-50 Label,
.color-100 Label,
.color-200 Label,
.color-300 Label {
	-fx-text-fill: #0D47A1;
}

.color-400 Label,
.color-500 Label,
.color-600 Label,
.color-700 Label,
.color-800 Label,
.color-900 Label {
	-fx-text-fill: #fff;
}

.color-50 Button,
.color-100 Button,
.color-200 Button,
.color-300 Button {
	-fx-text-fill: #0D47A1;
}

.color-400 Button,
.color-500 Button,
.color-600 Button,
.color-700 Button,
.color-800 Button,
.color-900 Button {
	-fx-text-fill: #fff;
}

.color-50 SVGPath,
.color-100 SVGPath,
.color-200 SVGPath,
.color-300 SVGPath {
	-fx-fill: #424242;
}

.color-400 SVGPath,
.color-500 SVGPath,
.color-600 SVGPath,
.color-700 SVGPath,
.color-800 SVGPath,
.color-900 SVGPath {
	-fx-fill: #fff;
}

.text-fill-default {
	-fx-text-fill: #fff;
}

.text-fill-inverse {
	-fx-text-fill: #424242;
}

.text-fill-default SVGPath {
	-fx-fill: #fff;
}

.text-fill-inverse SVGPath {
	-fx-fill: #424242;
}

.naviView Button:pressed, 
.checkout-footer Button:pressed,
.topView Button:pressed {
	-fx-background-color: #0D47A1;
}

.topView ToggleButton:selected {
	-fx-background-color: #0D47A1;
	-fx-border-color: transparent;
}

.tabView ToggleButton:selected {
	-fx-text-fill: #1565C0;
}

.tabView ToggleButton:selected SVGPath {
	-fx-fill: #1565C0;
}

.customize-border {
	-fx-border-color: #1565C0;
	-fx-border-radius: 2px;
	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent;
}

.customize-combo .arrow-button .arrow {
    -fx-background-color: #525252;
}

.customize-combo .combo-box-popup .list-view {
    -fx-background-color: #fff;
    -fx-background-radius: 2px;
    -fx-padding: 5px;
    -fx-background-insets: 1 0 0 0, 0;
}

.customize-combo .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #1E88E5;
    -fx-text-fill: #fff;
}

.customize-combo .combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #1E88E5;
    -fx-text-fill: #fff;
}

/* The main scrollbar CSS class of ListView */
.list-view .scroll-bar:horizontal ,
.list-view .scroll-bar:vertical{
    -fx-background-color:transparent;
}

/* The increment and decrement button CSS class of scrollbar */
.list-view .increment-button, 
.list-view .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 1em;
	-fx-border-color: derive(gray,80%);
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #757575;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 1em;

}

.list-view .list-cell:filled:selected {
	-fx-background-color: #1E88E5;
    -fx-text-fill: #fff;
}

.shadowSolid {
	-fx-effect: dropshadow(two-pass-box, #BBDEFB, 0.7, 3, 2, 2);
}

.context-menu {
    -fx-background-color: #fff;
    -fx-font-weight: normal;
    -fx-padding: 5px;
    -fx-background-radius: 2px;
}

.context-menu .menu-item SVGPath {
	-fx-fill: #424242;
}

.context-menu .menu-item:focused {
  	-fx-background-color: #1E88E5;
}

.context-menu .menu-item:focused .label {
  	-fx-text-fill: white;
}

.context-menu .menu-item:focused SVGPath {
  	-fx-fill: white;
}

.custom-chip {
	-fx-background-color: #1E88E5;
	-fx-background-radius: 10px;
	-fx-text-fill: #fff;
	-fx-font-weight: bold;
}

.accent-button {
	-fx-background-color: #FDD835;
	-fx-text-fill: #212121;
	-fx-background-radius: 2px;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 4,0,0,1 );
	-fx-pref-height: 32px;
}
