TableView {
	-fx-border-color: #0097A7;
	-fx-border-radius: 2px;
	-fx-background-radius: 2px;
	-fx-padding: 0;
	-fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.5) , 4.0,0.0,0.0,1.0 );
}

TableView:focused {
	-fx-background-color: transparent , -fx-box-border, -fx-control-inner-background;
}

TableView .filler {
	-fx-background-color: #0097A7;
}

TableView .column-header {
	-fx-border-color: #fff;
	-fx-border-width: 0.1;
	-fx-background-color: #0097A7;
	-fx-pref-height: 47px;
}

TableView .arrow {
	-fx-background-color: #fff;
}

TableView .table-cell {
	-fx-alignment: center;
}

TableView .table-row-cell:selected {
	-fx-background-color: #80DEEA;
}

TableView .table-row-cell:selected Text {
	-fx-fill: #212121;
}

TableView .table-row-cell:selected .table-cell {
	-fx-text-fill: #212121;
}

TableView .column-header SVGPath, Label {
	-fx-fill: white;
	-fx-text-fill: white;	
}