TableView {
	-fx-border-color: #1E88E5;
	-fx-border-radius: 2px;
	-fx-background-radius: 2px;
	-fx-padding: 0;
}

TableView .arrow {
	-fx-background-color: white;
}

TableView:focused {
	-fx-background-color: transparent , -fx-box-border, -fx-control-inner-background;
}

TableView .filler {
	-fx-background-color: #1E88E5;
}

TableView .column-header, .table-menu-button {
	-fx-border-color: white;
	-fx-border-width: 0.1;
	-fx-background-color: #1E88E5;
	-fx-pref-height: 50px;
}

TableView .table-cell {
	-fx-alignment: center-left;
	-fx-min-height: 40px;
}

TableView .table-row-cell:selected {
	-fx-background-color: #BBDEFB;
}

TableView .table-row-cell:selected Text {
	-fx-fill: #212121;
}

TableView .table-row-cell:selected .table-cell {
	-fx-text-fill: #212121;
}

TableView .table-row-cell .table-cell {
	-fx-alignment: center-left;
	-fx-fill: #212121;
	-fx-padding: 0 15 0 15;
}

TableView .column-header SVGPath {
	-fx-fill: white;
}

TableView .column-header Label {
	-fx-text-fill: white;
	-fx-alignment: center-left;
	-fx-padding: 0 0 0 15;
}

TableView .column-header.header-left15 Label {
	-fx-alignment: center-left;
	-fx-padding: 0 15 0 15;
}